logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
.DS_Store
*.swp
package-lock.json
pnpm-lock.yaml
*.log
*.lock

typings
app/**/*.js
app/**/*.d.ts
config/**/*.js
config/**/*.d.ts
lib/**/*.js
lib/**/*.d.ts
agent.js
agent.d.ts
app.js
app.d.ts